h1
{
text-align: center;
color: #007bff;
margin-bottom: 25px;
font: size 2.5em;
font-family: Arial,sans-serif;
}
p
{
    text-align: justify;
    font-family: Arial, sans-serif;
}
h2{
  text-align: left;
}
ol{
    text-align:start;
     color:black;
}
.navbar {
    background-color: #1077df;
    color:#ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 2px 8px #1817171a;
}
table{
    color:black;
}
.course
{
    color:#007bff;
}
.contact
{
    color:#007bff;
}

.page-container {
    max-width: 960px;
    height: 500px;
   margin:20px;
    padding: 20px;
    background-color:#fff;
    border-radius: 8px;
    overflow:auto;
    box-shadow: 0 4px 12px #0000000d;
}
